body {
    background: #EAF1F1;
}

.panel {
    box-shadow: 0px 0px 77px -20px rgba(50, 50, 50, 1);
}

#chart {
    height: 400px;
    width: 100%;
}

.boiler-panel .row {
    height: 300px;
}

.boiler-btn {
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #777;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.schema-item {
    text-align: center;
    vertical-align: middle;
    /*min-height: 250px;*/
}

.schema-item:hover {
    border: 1px solid #333333;
}

.schema-item img {
    max-width: 100%;
    max-height: 100%;
}

.switch {
    color: #2C3E50;
    background-color: #1A242F;
}

.switch.left {
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 50px 0px 0px 50px;
}

.switch.right {
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 0px 50px 50px 0px;
}

.switch.active {
    color: #2C3E50 !important;
    background-color: #E6EDED;
}