<div class="boiler-panel well">
    <div class="row">

        <input type="range" ng-model="steps" min="-100" max="100">
        <button class="btn btn-default" type="button" ng-click="addSteps()">
            add {{steps}} steps
        </button>
        <!--<div class="col-md-3 vcenter">-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->

        <!--<div class="boiler-btn">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3 vcenter">-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->

        <!--<div class="boiler-btn">-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>