<div id="planning" class="well">
    yoyoyo
</div>


<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-title">

            <div class="btn-group pull-right">
                <button class="btn btn-default" ng-click="add()">
                    <i class="fa fa-plus">
                        add custom date
                    </i>
                </button>
                <button class="btn btn-success " ng-click="save()">
                    <i class="fa fa-floppy-o"></i>
                </button>
            </div>


            <p>
                My plannings
            </p>
        </div>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group" ng-repeat="planning in plannings">
                <div class="col-md-2" ng-if="planning.edit">
                    <input type="text" class="form-control" ng-model="planning.title" placeholder="title"/>
                </div>
                <label class="col-md-2 control-label" ng-if="!planning.edit">
                    {{planning.title}}:
                </label>

                <div class="col-md-3">
                    <select class="form-control" ng-model="planning.date.from" ng-if="planning.date.type === 'select'"
                            ng-options="day for day in weekDays">
                    </select>
                    <input type="{{planning.date.type}}" class="form-control" placeholder="From"
                           ng-model="planning.date.from" ng-if="planning.date.type !== 'select'"/>
                </div>
                <div class="col-md-3">
                    <select class="form-control" ng-model="planning.date.to" ng-if="planning.date.type === 'select'"
                            ng-options="day for day in weekDays"></select>
                    <input type="{{planning.date.type}}" class="form-control" placeholder="From"
                           ng-model="planning.date.to" ng-if="planning.date.type !== 'select'"/>
                </div>
                <label class="col-md-1 control-label">
                    schema:
                </label>

                <div class="col-md-2">
                    <select class="form-control" ng-model="planning.schema"
                            ng-options="schema for schema in schemas"></select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-warning btn-block" ng-click="remove($index)" ng-disabled="planning.required">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>