<div class="row">
    <div class="col-md-12">

        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="schema in schemas.list"
                   ng-class="{active: schemas.select == schema}"
                   ng-click="schemas.select = schema">
                    {{schema.title}}
                </a>
            </div>
            <button class="btn btn-success" ng-click="schemas.new()">
                <i class="fa fa-plus"></i></i>
            </button>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-1 control-label" ng-if="!planning.edit">
                                Title:
                            </label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="schemas.select.title">
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <a class="btn btn-success" ng-show="schemas.select"
                                       ng-click="schemas.save()">
                                        <i class="fa fa-floppy-o"></i></i>
                                    </a>
                                    <a class="btn btn-danger" ng-show="schemas.select"
                                       ng-click="schemas.delete()">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div id="graph"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            My plannings
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="planning in plannings.list">
                    <div class="col-md-2" ng-if="planning.edit">
                        <input type="text" class="form-control" ng-model="planning.title" placeholder="title"/>
                    </div>
                    <label class="col-md-2 control-label" ng-if="!planning.edit">
                        {{planning.title}}:
                    </label>

                    <div class="col-md-3">
                        <select class="form-control" ng-model="planning.date.from"
                                ng-if="planning.date.type === 'select'"
                                ng-options="day for day in weekDays">
                        </select>
                        <input type="{{planning.date.type}}" class="form-control" placeholder="From"
                               ng-model="planning.date.from" ng-if="planning.date.type !== 'select'"/>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="planning.date.to" ng-if="planning.date.type === 'select'"
                                ng-options="day for day in weekDays"></select>
                        <input type="{{planning.date.type}}" class="form-control" placeholder="From"
                               ng-model="planning.date.to" ng-if="planning.date.type !== 'select'"/>
                    </div>
                    <label class="col-md-1 control-label">
                        schema:
                    </label>

                    <div class="col-md-2">
                        <select class="form-control" ng-model="planning.schema">
                            <option ng-repeat="schema in schemas.list">
                                {{schema.title}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger btn-block" ng-click="plannings.remove($index)"
                                ng-disabled="planning.required">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-md-offset-9">
            <button class="btn btn-link" ng-click="plannings.add()">
                <i class="fa fa-plus">
                    add custom date
                </i>
            </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success btn-block" ng-click="plannings.save()">
                <i class="fa fa-floppy-o"></i>
            </button>
        </div>
    </div>
</div>